/* WORD SEARCH */

body {
    margin: 0;
}

#word-search {
    margin-top: 90px;
    text-align: center;
}
#puzzle-grid {
    width: 400px;
    margin: 0 auto;
    font-family: base-mono-wide, monospace;
    font-size: 1.25rem;
    font-weight: 300;
    font-style: normal;
    color: rgb(250, 250, 250);
    text-align: center;
}
td {
    padding: 5px;
}
.letter,
.random-letter {
    padding: 1px 4px;
    margin: 0;
    border-radius: 100%;
    text-transform: uppercase;
    cursor: pointer;
}
.selected-letter {
    background-color: rgb(214, 255, 47);
    color: rgb(43, 70, 97);
}

/* WORDS AND ACCORDION  */

#words-container {
    background-color: rgb(214, 255, 47);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}
.column {
    width: 100%;
}
.words {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    background-color: rgb(10, 21, 27);
    font-family: rooney-sans, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.3rem;
    color: rgb(214, 255, 47);
    text-align: center;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 5px;
    outline: none;
}
.plus-minus {
    display: none;
    font-size: 1.8rem;
    line-height: 1rem;
    color: rgb(39, 79, 103);
}
#anaconda,
#caiman,
#macaw,
#morpho,
#ocelot,
#piranha,
#sloth,
#tapir,
#toucan,
#treefrog {
    display: none;
}
.hidden-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding: 10px 20px;
}
.animal-illustration-containers {
    width: 200px;
    margin: 10px;
}
.animal-illustrations {
    width: 100%;
}
.animal-facts {
    font-family: rooney-sans, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    color: rgb(101, 112, 122);
    margin: 0;
}
.found {
    cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    #words-container {
        flex-direction: column;
    }
}