html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    background-color: rgb(233, 32, 38);
}
#intro-box {
    width: 500px;
    margin: 5% auto 0;
    background-color: rgb(250, 250, 250);
    border-radius: 5%;
    padding: 30px 50px;
    text-align: center;
}
h1, 
#tagline {
    text-transform: uppercase;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 2.9rem;
    font-weight: 400;
    margin: 1.5rem 0 1rem 0;
    background: -webkit-linear-gradient(160deg, #b6f71f 10%, #3ce6e5 25%,
     #ece212 40%, #ff7d2b 50%, #f36d82 73%, #bf1956 83%, #ff0101 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#tagline {
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: rgb(115, 149, 155);
    border: 1px solid rgb(115, 149, 155);
    border-style: solid none;
    padding: 2px 0;
}
#hibiscus-icon {
    height: 70px;
    padding-top: 40px;
}
p#welcome {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.8;
    color: rgb(140, 141, 154);
    margin: 1.2em 0 1em 0;
}
#start-button {
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(250, 250, 250);
    background-color: rgb(233, 32, 38);
    border: 2px solid rgb(250, 250, 250);
    border-radius: 5px;
    margin: 50px auto;
    padding: 10px 30px;
    display: block;
    cursor: pointer;
}
#start-button:hover {
    transition-duration: 2s;
    background-color: rgb(250, 250, 250);
    color: rgb(233, 32, 38);
    letter-spacing: 5px;
    font-weight: bold;
    padding: 10px 25px;
}

/* STORY OPTIONS SECTION */
#story-options {
    display: none;
    text-align: center;
}
h2 {
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
}
form {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
}

/* FOOTER SECTION */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
p#copyright {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 20px;
    color: rgb(247, 163, 163);
}